html, body {
	margin: 0;
	padding: 0;
	background: url(/images/admin/bg_body.gif) repeat-y;
	font-family: "Lucida Grande","Tahoma","Lucida Sans Unicode",Tahoma,Verdana !important;
	height: 100%;
}

div#container {
	position: relative;
	min-height: 100%;
}

div#header {
	width: 100%;
	background-color: #333;
	
	color: #fff;
	
	border-bottom: 1px solid #000;
	text-shadow: 0 1px 1px #000;
	height: 23px;
}

div#header div {
	padding: 2px 7px;
}

div#logo {
	float:  left;
	font-weight: bold;
}

div#top_nav {
	float: right;
}

div#top_nav a {
	color: #fff;
	padding-left: 21px;
	margin-left: 10px;
}

div#top_nav a.logout {
	background: url(/images/admin/user.png) no-repeat;
}

div#top_nav a.return_to_site {
	background: url(/images/admin/world_go.png) no-repeat;
}

div#left_menu {
	float: left;
}

div#left_menu ul {
	list-style-type: none;
	margin: 4px 0 0 5px;
	padding: 0;
}

div#left_menu ul li {
	margin: 0;
	padding: 1px 0 0 10px;
	height: 21px;
	width: 156px;
}

div#left_menu ul li a {
	color: #000;
	text-decoration: none;
	padding-left: 22px;
	background-repeat: no-repeat;
}

div#left_menu ul li.active {
	background-image: url(/images/admin/menu_active.gif);
}

div#left_menu ul li.active a {
	font-weight: bolder;
}

div#main_window {
	margin: 0 0 0 187px;
}

div#main_window h1 {
	margin: 0;
	padding: 7px;
	background-color: #BDC0CE;
	text-shadow: 0 1px 1px #000;
	font-size: 100%;
	font-weight: bold;
}

div#content {
	padding: 7px;
}

div#footer {
	position: absolute;
	clear: both;
	bottom: 0px;
	height: 24px;
	background-color: #ccc;
	border-top: 1px solid #666;
	width: 100%;
}

div#footer p {
	padding: 3px;
}

div#footer p a {
	color: #666;
	font-weight: bold;
}


/*   */


form fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

form fieldset input[type="text"], form fieldset input[type="password"], form fieldset select {
	width: 644px;
	border: 1px solid #666;
	padding: 4px;
	font-size: 16px;
}

form input[type="submit"] {
	border: 1px solid #666;
	font-size: 16px;
	padding: 4px;
	width: 100px;
}

form ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

form ol li {
	margin-bottom: 16px;
}

div#module_content table.admin_list {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: none none none none;
	border-color: gray gray gray gray;
	border-collapse: collapse;
}

table.admin_list {
	clear: right;
}

table.admin_list tr.row1 {
	background-color: #e0e2f3;
}

div#module_content table.admin_list td, div#module_content table.admin_list th {
	border-width: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	-moz-border-radius: 0px 0px 0px 0px;
}

ul#primary li, ul#primary {
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: right;
}

ul#primary li {
	margin: 0 6px;
}

a.other {
	background: url(/images/admin/pencil.png) no-repeat;
	padding-left: 20px;
	text-decoration: none;
}

ul#primary {
	float: right;
	margin-bottom: 6px;
	width: 50%;
}

a.create {
	background: url(/images/admin/add.png) no-repeat;
	padding-left: 20px;
	text-decoration: none;
}

a.delete {
	background: url(/images/admin/cross.png) no-repeat;
	padding-left: 20px;
	text-decoration: none;
}