[submodule "modules/SEO"]
	path = modules/SEO
	url = git@github.com:minichate/seo.git
[submodule "modules/Menu"]
	path = modules/Menu
	url = git@github.com:minichate/menu.git
[submodule "modules/DBTable"]
	path = modules/DBTable
	url = git@github.com:minichate/dbtable.git
[submodule "modules/Analytics"]
	path = modules/Analytics
	url = git@github.com:minichate/analytics.git
[submodule "modules/User"]
	path = modules/User
	url = git@github.com:minichate/user.git
[submodule "core/tinymce"]
	path = core/tinymce
	url = git://github.com/minichate/tinymce.git
