[submodule "buildtools/prototype"]
	path = buildtools/prototype
	url = git://github.com/sstephenson/prototype.git
[submodule "buildtools/scriptaculous"]
	path = buildtools/scriptaculous
	url = git://github.com/madrobby/scriptaculous.git
[submodule "modules/SEO"]
	path = modules/SEO
	url = git@github.com:minichate/seo.git
[submodule "modules/Block"]
	path = modules/Block
	url = git@github.com:minichate/block.git
[submodule "modules/Menu"]
	path = modules/Menu
	url = git@github.com:minichate/menu.git
[submodule "modules/DBTable"]
	path = modules/DBTable
	url = git@github.com:minichate/dbtable.git
[submodule "modules/Analytics"]
	path = modules/Analytics
	url = git@github.com:minichate/analytics.git
[submodule "modules/User"]
	path = modules/User
	url = git@github.com:minichate/user.git
[submodule "modules/Templater"]
	path = modules/Templater
	url = git@github.com:minichate/templater.git
