#RewriteRule [.*] http://woz.norex.ca/gone.html [NC,L]

RewriteEngine On
Options -Indexes

<FilesMatch "\.(engine|inc|info|install|module|profile|po|sh|.*sql|theme|tpl|htpl|tpl(\.php)?|xtmpl)$|^(code-style\.pl|Entries.*|Repository|Root|Tag|Template)$">
  Order allow,deny
</FilesMatch>

#RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*\.)(js|css)$ /js/jscsscomp.php?q=$1$2 [L,NC]

RewriteRule ^admin/?$ 	    /cms/index.php [L]
RewriteRule ^admin/(.*)/?$ 	/cms/index.php?module=$1  [L,QSA]

RewriteRule ^file/([0-9]+)/?(.*)?$ /core/DataStorage.php?id=$1 [L]
RewriteRule ^image/([0-9]+)/?(.*)?$ /images/image.php?id=$1 [L]

RewriteRule ^mail/(.*)/(.*)/norexLink.jpg$	/index.php?module=Mail&section=collect&user=$1&mso_id=$2 [NC,L]

RewriteRule ^user/(.*)?/?                  /index.php?module=User&section=$1 [NC,L]

RewriteRule ^content/(.*)? /index.php?module=Content&page=$1 [NC,L]

RewriteRule ^ad/(.*)? /index.php?module=Advertise&section=ad&page=$1 [NC,L]

RewriteRule ^forum/(.*)? /index.php?module=Forums&page=$1 [NC,L]

RewriteRule ^support/? /index.php?module=Support&page=$1 [NC,L]

RewriteRule ^Store/?$ /index.php?module=EComm&section=Category [NC,L]
RewriteRule ^Store/(Category|ProductType|Supplier|Product|Tree|Search|Cart|IPN|MyAccount)/?(\w*)/?&?(.*) /index.php?module=EComm&section=$1&page=$2&$3 [NC,L]

RewriteRule ^blog/(.*)? /index.php?module=Blog&page=$1 [NC,L]
RewriteRule ^gallery/([0-9]+)?-?([a-zA-Z0-9\-]+)? /index.php?module=Gallery&page=$1 [NC,L]
RewriteRule ^videos/([0-9]+)?-?([a-zA-Z0-9\-]+)? /index.php?module=VideoGallery&page=$1 [NC,L]

RewriteRule ^sitemap.xml$ /index.php?module=SEO [NC,L]
RewriteRule ^sitemap.xml.gz$ /index.php?module=SEO&encoding=gz [NC,L]
RewriteRule ^sitemap.xml.gz$ /index.php?module=SEO&encoding=gz [NC,L]

RewriteRule ^calendar/?$ /index.php?module=Calendar [NC,L]
RewriteRule ^calendar/([0-9]+)/$ /index.php?module=Calendar&calendar_id=$1 [NC,L]
RewriteRule ^calendar/([0-9]+)/([0-9]+)-(.*) /index.php?module=Calendar&calendar_id=$1&event=$2 [NC,L]
#RewriteRule ^calendar/xml/?(([0-9]+)/([0-9]+))? /index.php?module=Calendar&section=xml&year=$2&month=$3 [NC,L]
RewriteRule ^calendar/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+) /index.php?module=Calendar&calendar_id=$1&year=$2&month=$3&day=$4 [NC,L]
#RewriteRule ^calendar/([0-9]+)/([0-9]+)/([0-9]+) /index.php?module=Calendar&year=$1&month=$2&day=$3 [NC,L]

RewriteRule ^donate/([a-zA-Z]+)? /index.php?module=Donate&section=$1 [NC,L]

RewriteRule ^(sign|volunteer)/([a-zA-Z]+)? /index.php?module=Contacts&section=$1&page=$2 [NC,L]

RewriteRule ^forum/create /index.php?module=Forums&page=create [NC,L]
RewriteRule ^forum/cat/([0-9]+)?-?([a-z\-]+)? /index.php?module=Forums&section=cat&page=$1 [NC,L]
RewriteRule ^forum/([0-9]+)?-?([a-z\-]+)? /index.php?module=Forums&page=$1 [NC,L]

RewriteRule ^im/(.*) /core/image-resizer.php?image=/$1 [L,QSA]
RewriteRule ^search/? /index.php?module=Search

RewriteRule files/(.*) file_not_found
ErrorDocument 404 /index.php?module=Content&page=_ERROR_
