@CHARSET "UTF-8";

body {
	background-color: #030000;
}

h1 {
	color: rgba(255,255,255,0);
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
	width: 640px;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(logo.png);
}

h2 {
	color: rgba(255,255,255,0);
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
	width: 640px;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(teaser.png);
}

div#player {
	width: 640px;
	height: 480px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}